
<footer class="mt-3" style="background-color: #00347cef">
    <div class="container">
        <div class="row pt-5 footer">
            <div class="col-md-4 text-center">
                <h3>About Us</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto quidem nostrum qui molestiae modi
                    eligendi facere porro quod odio quo at consectetur autem nam, ex maxime error sint! Totam
                    repellendus iusto consequatur voluptatem nemo doloremque, repellat quibusdam modi. Asperiores
                    magnam dolor debitis repudiandae reprehenderit laudantium consectetur tenetur ullam saepe dicta.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                    <li>Adres: 123 Main Street, Anytown, USA</li>
                    <li>Telefon: (123) 456-7890</li>
                    <li>E-posta: info@example.com</li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h3>Links</h3>
                <ul class="list-unstyled">
                    <li><a href="/Home/Index">Main Page</a></li>
                    <li><a href="/Home/ContactUs">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright py-4 text-center footer">
        <div class="container text-center">
            <small>Copyright &copy; MovieApp 2021</small>
        </div>
    </div>
</footer>