@using MovieApp.Models.Domain;

@{
    ViewData["Title"] = "ChangePassword";
}
@model ChangePasswordModel

@if (TempData["msg"] != null)
            {
                    <div class="mb-1 bg-info color text-black rounded">@TempData["msg"]</div>
            }


<div class="container-fluid">
    <div class="row">

        @*Adversitement*@
        @if (!User.IsInRole("admin") && !User.IsInRole("superUser"))
        {
            <div class="col-sm-2 col-md-2 col-lg-2 mt-2 adv"><img src="~/img/adversitement1.jpeg" class="adv" style="width: 100%; height: 550px;"><img src="~/img/adversitement2.jpg" class="adv adv2" style="width: 100%; height: 550px;"> </div>
        }


        <div class="col-sm-8 col-md-8 col-lg-8 mt-2 mx-auto">
            <div class="row">
                @if (ViewBag.IsSuccess == true)
                {
                    <div class="alert alert-success" role="alert">
                        Password has been updated successfully
                    </div>
                }
                else if (ViewBag.IsSuccess == false)
                {
                    <div class="alert alert-success" role="alert">
                        The current password is incorrect or the new password does not meet the requirements. Password must be at least 6 long and contain 1 uppercase, 1 lowercase letter, 1 special character and 1 number.
                    </div>
                }
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="control-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Change password" class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>

        @*Adversitement*@
        @if (!User.IsInRole("admin") && !User.IsInRole("superUser"))
        {
            <div class="col-sm-2 col-md-2 col-lg-2 mt-2 adv"><img src="~/img/adversitement2.jpg" class="adv" style="width: 100%; height: 550px;"><img src="~/img/adversitement1.jpeg" class="adv adv2" style="width: 100%; height: 550px;"> </div>
        }

    </div>
</div>

