@using MovieApp.Models.Domain;

@{
    ViewData["Title"] = "ForgotPassword";
}

@model ForgotPasswordModel

<div class="container-fluid">
    <div class="row">

        @*Adversitement*@
        @if (!User.IsInRole("admin") && !User.IsInRole("superUser"))
        {
            <div class="col-sm-2 col-md-2 col-lg-2 mt-2 adv"><img src="~/img/adversitement1.jpeg" class="adv" style="width: 100%; height: 550px;"><img src="~/img/adversitement2.jpg" class="adv adv2" style="width: 100%; height: 550px;"> </div>
        }


        <div class="col-sm-8 col-md-8 col-lg-8 mt-2 mx-auto">
            <div class="row mt-1">
                @if (Model?.EmailSent == true)
                {
                    <div class="alert alert-success" role="alert">
                        <p>
                            If you are registered with us, <br />
                            We have sent an email on your registered email id
                        </p>
                    </div>
                }
                else
                {
                    <p>Forgot your password? No worries you can reset it easily.</p>
                    <form asp-action="ForgotPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Continue" class="btn btn-primary mt-2" />
                        </div>
                    </form>
                }
                <div>
                    <p class="mt-1">Back to  <a asp-action="Login" asp-controller="UserAuthentication">Login</a></p>
                </div>

            </div>
        </div>

        @*Adversitement*@
        @if (!User.IsInRole("admin") && !User.IsInRole("superUser"))
        {
            <div class="col-sm-2 col-md-2 col-lg-2 mt-2 adv"><img src="~/img/adversitement2.jpg" class="adv" style="width: 100%; height: 550px;"><img src="~/img/adversitement1.jpeg" class="adv adv2" style="width: 100%; height: 550px;"> </div>
        }

    </div>
</div>
