
@{
    ViewData["Title"] = "ContactUs";
}

<div class="jumbotron jumbotron-fluid flash mt-3">
    <div class="container">
        <div class="row"><h1 class="display-4 mb-5" style="text-align: center; font-weight:300">Contact Us</h1></div>
        <hr />
        <div class="row">
            <div class="col-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3059729384!2d-74.25986816097694!3d40.69714941285065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1673519252923!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

            <div class="col-6">

                <h3 class="display-6 mt-4" style="text-align: center;">Adress</h3>
                <p style="text-align: center;">Adres: 123 Main Street, Anytown, USA </p>
                <h3 class="display-6 mt-4" style="text-align: center;">Phone number</h3>
                <p style="text-align: center;">  Telefon: (123) 456-7890  </p>
                <h3 class="display-6 mt-4" style="text-align: center;">Email</h3>
                <p style="text-align: center;">  E-posta: info@example.com  </p>


            </div>
        </div>

    </div>
</div>


